// main css file pulls in the other modules

// Bootstrap path
@bootstrap: "./../../node_modules/bootstrap/less/";
 
// Bootstrap mixins
@import "@{bootstrap}/mixins.less";

// Normalize
@import "@{bootstrap}/normalize.less";



@black: #000;
@darkgrey: #4D4D4D;
@lightgrey: #e1e1e1;
@white: #FFF;

@width: 600px;
@padding: 10px + @border-width;


// Core styles

@import "./core.less";
@import "./article.less";

// Modules

@import "./icon.less";
@import "./map.less";
@import "./date-img.less";

// Style overrides

@import "./styles.less";

// Effects

@import "./colorful.less";
@import "./fade.less";
