<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <link rel="author" content="{{joe.name}}" href="{{joe.twitter.href}}"/>

    <link href="fonts/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="">
      <p>Hey folks, I'm @jomrcr.</p>

      <p>I study <b class="aqua">mathematics</b> in the co-op program at the University of Waterloo, and in the off terms I intern at tech companies.</p>

      <p>This term I've declared my major for <b class="red">Combinatorics and Optimization</b>, which means I'm taking a bunch of CO classes.</p>

      <p>Last Winter I was interning as a PM @ Microsoft in Seattle, which is also where I grew up. I was helping build the Activity Feed on <b class="indigo">Xbox Live</b>, and it was a lot of fun experiencing the process from the PM perspective. One of the things that surprised me the most was how much alignment happens behind the scenes. I was working with <b class="amber">designers and developers</b>, but at the scale of Microsoft I was also working behind the scenes to align with legal, security, privacy, advertising teams.</p>

      <p>In the Fall I was studying abroad in Hong Kong at HKUST. It was an exciting time to be there; I participated in the #UmbrellaRevolution. And <b class="orange">Hong Kong</b> is absolutely gorgeous. And milk tea and dim sum. I was also taking Pure Math courses, in Number Theory and Geometry.</p>

      <p>The term before that I was doing a Software Engineering internship @ <b class="blue">Noom</b>, a mobile startup in NYC. Living in the city was crazy. I was in SoHo and in the East Village, and I was working in Chelsea. All the eating. Working at a mobile company was interesting, but I think my pre-biases hold. I'm a web guy. My favorite part about Noom was getting to participate in the Design process, and interact closely with the users. I also got to do some UX research type stuff.</p>

      <p>My fifth school term I was in Mathematics, but unsure which direction to take. So I did a little bit of everything: Pure Math, Combinatorics, Optimization, Statistics, Computer Science (Logic), and Applied Math (Calculus).</p>

      <p>For my second internship I was on the web team @ Tagged in SF.</p>

      <p>I'm surprisingly good at pool.</p>

      <p>For my fourth school term I switched from Management Engineering to Mathematics, with the intent of majoring in CS. I took all the CS courses I could, but ended up liking them as much as I was expecting. I was also taking the Advanced Version of Linear Algebra 2, which was crazy hard.</p>

      <p>For my first internship I was working @ Bazaarvoice in Austin. Working with clutch team of JavaScript developers: Alex Sexton, Rebecca Murphy. This is probably why I'm a web guy now.</p>

      <p>For my first three terms I was in Management Engineering. I kind of killed it. Top of my class.</p>

      <p>I was born and raised in Redmond, which is a suburb of Seattle. In High School I played varsity basketball. I also worked as a lifeguard and coach at the local pool.</p>
    </div>
    <div class="">
      {{> icon}}
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52752242-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>